@import 'partials/color';
@import 'partials/responsive';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/reset';
@import 'partials/text';

// blocks
@import 'blocks/header';
@import 'blocks/list';

//pages
@import 'pages/pageIndex';