$cBlue = #1698d9
$cBlue_l = #2ea8e6
$cPink = #d91667
$cPink_l = #e62e7a
$cGray = #666666
$cGray_l = #b3b3b3
$cYellow = #ffff66
$cBlack = #000000
$cWhite = #ffffff

&.text-blue
  color $cBlue !important

&.text-yellow
  color $cYellow !important

