@font-face 
  font-family "Exo2Thin"
  src url("../fonts/Exo2Thin/Exo2Thin.eot")
  src url("../fonts/Exo2Thin/Exo2Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Thin/Exo2Thin.woff") format("woff"), url("../fonts/Exo2Thin/Exo2Thin.ttf") format("truetype")
  font-style normal
  font-weight normal

// font vars

$fTrebucher = Trebuchet MS, "Helvetica CY", sans-serif
$fExo_th = Exo2Thin, sans-serif