html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font inherit
  vertical-align baseline
  box-sizing border-box

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased
  line-height 1

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 320px
  min-height 640px

body
  font-family $fTrebucher
  font-size 14px
  line-height 16px
  color $cGray
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background #000 url("../img/bg--page.jpg") repeat

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  font-weight normal
  list-style none

/***** ie fix ****/
a img
  border none

.page-wrap
  overflow hidden
  display block
  min-height 100%
  width 100%

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right

section
  position relative

.flex-between
  display flex
  justify-content space-between
  align-items flex-start

.vertical-justify
  display flex
  flex-flow row wrap
  align-items flex-start
  justify-content center

.hidden-block
    display none

.width-wrap
  display block
  margin 0 auto
  width 1120px

  @media md
    width 700px

  @media sm
    width auto

// отступы между горизонтальными li
ol, ul, .grid
  list-style none
  font-size: 0
  line-height: 0
  letter-spacing: -1px

li, .grid-item
  line-height: normal
  letter-spacing: normal
  display: inline-block
  vertical-align top
  zoom: 1


