a, p, span, li, input, time, blockquote, textarea
  font-family $fTrebucher
  font-size 16px
  line-height normal
  text-decoration none
  color $cGray

*.fs-13
  font-size 13px
*.fs-14
  font-size 14px

a
  cursor pointer
  outline none

h2
  font-family $fExo_th
  color $cWhite
  font-size 36px
  line-height normal
  display block
  text-align center

h3
  font-family $fTrebucher
  color $cBlack
  font-size 48px
  font-weight bold
  line-height normal
  display block
  text-align left

  small
    font-size 24px
    display block



